.ae-menu-entry a ,
.ae-menu-entry svg {
}
.ae-menu-entry svg {
	margin-right:10px;
}
.ae-menu-entry a {
	/* My Proofs: */
	position:relative;
	display:block;
	/*background:blue;*/
	opacity: 0.9;
	font-size: 17px;
	color: #FFFFFF;
	letter-spacing: 0;
	padding:20px;
	border-top: 1px solid rgba(255,255,255,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.2);
}
.ae-menu-entry a + .ae-menu-entry a{
	border-top:none;
}
.ae-menu-entry .router-link-active:before{
	content:"";
	display:block;
	position:absolute;
	width:100%;
	top:0;
	left:0;
	opacity:0.2;
	height:100%;
	background-image: linear-gradient(90deg, #FFFFFF 0%, rgba(255,255,255,0.14) 100%);
}
