@import './../variables';

.ae-identity {
  width: 100%;
  zoom: 1.1;
  color: $white;
}

.avatar {
  width: 23px;
  height: 23px;

  &.ae-identity-avatar {
    margin-bottom: 0px;
  }
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chunk-row {
  font-family: 'Roboto Mono', monospace;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: 3.1px;
  font-stretch: normal;
  text-align: left;

  &:first-of-type {
    margin-top: 14px;
  }
}

.chunk {
  display: inline-block;
  width: calc(100% / 3);

  &:nth-child(2n) {
    text-align: center;
  }

  &:nth-child(3n) {
    text-align: right;
  }
}

.flex-row + .chunk-row {
  margin-top: 16px;
}

.ae-identity,
.ae-identity * {
  transition: 0.4s;
}

.identity-info {
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-family: Roboto Mono;
  font-weight: 500;
  letter-spacing: 1px;
}

.collapsed .identity-info {
  font-size: 10px;
  align-self: flex-end;
  display: none;
}

.identity-info._long {
  width: calc(100% - 65px);
  overflow: hidden;
}

.balances {
  width: auto;
  flex-grow: 1;
}

.balance {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  line-height: 12px;
  text-align: right;
  margin-top: 2px;

  &:first-of-type {
    margin-top: 0px;
  }

  &._bold {
    font-weight: 400;
  }
}

.currency-symbol {
  letter-spacing: 0.12em;
  padding-right: 3px;
}

.ae-identity__avatar {
  margin-right: 2px;
  border-width: 1px;
}

.identity-name {
  font-size: 12px;
  margin-left: 5px;
}

.identity-name h3 {
  font-size: 12px;
  margin: 0px;
}

.identity-name small {
  letter-spacing: 0.25em;
  font-size: 90%;
}
