@import "./../variables";

.ae-identity {
  top:auto;
  bottom:10px;
  box-sizing:border-box;
  zoom: 1.1;
  padding:15px 21px;
  color:white;
  z-index:5;
  margin:0 auto;
  text-align: left;
  width: 335px;
  box-shadow: 0 4px 8px 0 rgba(60, 60, 60, 0.1);
  border-radius: 12px;
  background-image: linear-gradient(122deg, #6f53a1, $aubergine);

  &.active{
    background-image: linear-gradient(119deg, #f22f70, #42255c);
  }

  .footer {
    margin-top: 18px;
  }

  .avatar {
    width: 23px;
    height: 23px;

    &.ae-identity-avatar {
      margin-bottom: 0px;
    }
  }

  .flex-row{
    position:relative;
    display: flex;
    justify-content: space-between;
  }

  .chunked-address {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: -10px;

    .chunk {
      display: inline-block;
      margin: 5px 0 0 10px;
      flex-grow: 1;
      width: calc(100% * (1/3) - 10px - 1px);
      justify-content: space-between;

      font-family: 'Roboto Mono', monospace;
      font-size: 17px;
      font-weight: 500;
      font-style: normal;
      color: $plain;
      line-height: 1.53;
      letter-spacing: 3.1px;
      font-stretch: normal;
      text-align: left;
    }
  }
}

.ae-identity ,
.ae-identity * {
  transition:0.4s;
}

.ae-identity._active_no{
  background-image: linear-gradient(to bottom, #aeaeae, #dcdcdc);
}
#app.home .ae-identity {
  top:70px;
  bottom:auto
}

.identity-info{
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-family: Roboto Mono;
  font-weight: 500;
  letter-spacing: 1px;
}
.collapsed .identity-info{
  font-size:10px;
  align-self:flex-end;
  display:none;
}

.identity-info._long{
  width: calc(100% - 65px);
  overflow: hidden;
}

.balance {
  width: 150px;
  height: 14px;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: $plain;

  .currency-symbol {
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0.12em;
  }
}

.ae-identity .ae-identity-avatar{
  margin-right:2px;
  margin-bottom:10px;
}
