@import './../variables';

.ae-identity {
  width: 100%;
  zoom: 1.1;
  color: $white;
}

.avatar {
  width: 23px;
  height: 23px;

  &.ae-identity-avatar {
    margin-bottom: 0px;
  }
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.chunk {
  margin-top: 10px;
  font-family: 'Roboto Mono', monospace;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: 3.1px;
  font-stretch: normal;
  text-align: left;
}

.chunk-row {
  display: inline-block;
  width: calc(100% / 3);

  &:nth-child(2n) {
    text-align: center;
  }

  &:nth-child(3n) {
    text-align: right;
  }
}

.ae-identity,
.ae-identity * {
  transition: 0.4s;
}

.identity-info {
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-family: Roboto Mono;
  font-weight: 500;
  letter-spacing: 1px;
}

.collapsed .identity-info {
  font-size: 10px;
  align-self: flex-end;
  display: none;
}

.identity-info._long {
  width: calc(100% - 65px);
  overflow: hidden;
}

.balances {
  width: auto;
  flex-grow: 1;
}

.balance {
  height: 14px;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  line-height: normal;
  text-align: right;
}

.currency-symbol {
  letter-spacing: 0.12em;
}

.ae-identity .ae-identity-avatar {
  margin-right: 2px;
  margin-bottom: 10px;
}
