@import "../variables";
.ae-icon {
  display:inline-block;
  width:24px;
  height:24px;
  svg {
    width:100%;
    height:100%;
  }
  &._invert_false._type{
    &_plain {
      fill: $white;
    }
    &_boring {
      //fill: $silver;
      fill: $grey;
    }
    &_normal {
      fill: $black;
    }
    &_exciting {
      fill: $aubergine;
    }
    &_dramatic {
      fill: $maegenta;
    }
  }
  &._invert_true._type{
    &_plain {
      fill: $white;
    }
    &_boring {
      //fill: $silver;
      fill: $grey;
    }
    &_normal {
      fill: $black;
    }
    &_exciting ,
    &_dramatic {
      fill: $white;
    }
  }
}
