%top-label-font{
  font-family: Roboto, Arial, Helvetica;
  font-size: 17px;
  font-weight: 500;
}

label{
  @extend %top-label-font;
}

.top-message{
  @extend %top-label-font;
  float: right;

  &._type{
    &_error{
      color: $maegenta;
    }

    &_valid{
      color: $grey;
    }
  }

}
