@import '../../styles/variables/old_vars';

.ae-identity-background {
  padding: 13px 13px;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  display: flex;

  &._type {
    @each $type in map_keys($type-color-map) {
      &_#{$type} {
        $color: #{map_get($type-color-map, $type)};
        background-color: $color;
        border-color: $color;
      }
    }
  }
}
