# Editor directories and files
/.idea
*.suo
*.ntvs*
*.njsproj
*.sln

## General System Files
.DS_Store
Thumbs.db
log.txt
npm-debug.log
npm-debug.log*
yarn-error.log
yarn-debug.log*
selenium-debug.log
/docs/report.html

## General Folders
/node_modules
/build
/docs
/test/unit/coverage
/test/e2e/reports
