//------------------------------
// *****************************
// Paths
// *****************************
//------------------------------

$path-fonts: "~@public/fonts/" !default;
$path-images: "~@public/images/" !default;
$path-icons: "~@public/icons/" !default;
