//------------------------------
// *****************************
// Stack
// *****************************
//------------------------------

$stack-negative: -10;
$stack-0: 0;
$stack-1: 10;
$stack-2: 100;
$stack-3: 200;
$stack-4: 500;
$stack-5: 1000;
$stack-infinite: 9999;
