//------------------------------
// *****************************
// Typography
// *****************************
//------------------------------

// Base Settings
$base-font-size: 16px;
$base-line-height: 1.5rem;

/// Inter UI variables
/// @website: https://rsms.me/inter/
$font-inter-ui: "Inter UI", sans-serif;

/// Inter UI variables
/// @website: https://rsms.me/inter/
$font-ibm-plex-mono: "IBM Plex Mono", sans-serif;
