//------------------------------
// *****************************
// ae-address
// *****************************
//------------------------------

.ae-address {
  @extend %typo-mono-base;

  display: grid;
  grid-gap: rem(8px);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  font-weight: 500;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  > li {
    list-style: none;
  }
}
