//------------------------------
// *****************************
// ae-badge
// *****************************
//------------------------------

.ae-badge {
  @extend %face-mono-s;

  display: inline-flex;
  padding: 0 rem(8px);
  height: 32px;
  align-items: center;
  justify-content: space-between;
  background: $color-neutral-positive-2;
  border-radius: 4px;
  color: $color-neutral-negative-3;
  font-weight: 400;
  margin-bottom: rem(4px);
}
