@import '../variables';

.ae-label {
  display: flex;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 10px;
  align-items: center;
  line-height: 28px;

  .content {
    flex-grow: 1;
  }

  .help {
    font-size: 13px;
    text-align: right;
    text-transform: none;
    margin-left: 5px;
    line-height: 14px;

    &._type {
      @each $type in map_keys($type-color-map) {
        &_#{$type} {
          color: map_get($type-color-map, $type);
        }
      }
    }
  }
}
