//------------------------------
// *****************************
// ae-toolbar
// *****************************
//------------------------------

.ae-toolbar {
  display: flex;
  flex-direction: row;
  height: rem(32px);
}

.ae-toolbar:disabled {

}

.ae-toolbar.primary {

}

.ae-toolbar.secondary {

}

.ae-toolbar.left {
  justify-content: flex-start;
}

.ae-toolbar.center {
  justify-content: center;
}

.ae-toolbar.right {
  justify-content: flex-end;
}

.ae-toolbar.justify {
  justify-content: space-between;
}

.ae-toolbar.minimal {

}
