//------------------------------
// *****************************
// Typography
// *****************************
//------------------------------

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.5;
  color: $color-neutral-neutral;
  font-weight: normal;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}

p {
  line-height: 1.5;
  margin: 18px 0;
  font-size: $base-font-size;
}

a {
  transition: all $base-transition-time;
  color: $color-neutral-neutral;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $color-neutral-positive-1;
  }
}
