//------------------------------
// *****************************
// Typography
// *****************************
//------------------------------

h1, h2, h3, h4, h5, h6, p {
  line-height: $base-line-height;
  font-weight: normal;
}

p {
  line-height: $base-line-height;
  font-size: $base-font-size;
}
