//------------------------------
// *****************************
// ae-backdrop
// *****************************
//------------------------------

.ae-backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba($color-neutral-positive-2, 0.5);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: $stack-5;

  &.neutral {
    background: rgba($color-neutral-minimum, 0.5);
  }
  &.default {
    background: rgba($color-default-default, 0.5);
  }
  &.alternative {
    background: rgba($color-alternative-alternative, 0.5);
  }
  &.emphasis {
    background: rgba($color-emphasis-emphasis, 0.5);
  }

  &.v-enter-active, &.v-leave-active {
    transition: opacity ease-in-out $base-transition-time;
  }

  &.v-enter, &.v-leave-to {
    opacity: 0;
  }
}

.ae-backdrop.top {
  align-items: center;
  justify-content: flex-start;
}

.ae-backdrop.bottom {
  align-items: center;
  justify-content: flex-end;
}
