@import "/../mixins";

$text-indent: 14px;

%default-font {
  font-size: 13px;
}

@mixin textIndentModifier ($falseVal, $trueVal) {
  &._text-indent {
    &_false{
      margin-left: $falseVal;
    }
    &_true {
      margin-left: $trueVal;
    }
  }
}

%address-font {
  @extend %default-font;
  letter-spacing: 2.1px;
}

.address {
  @extend %address-font;
  @include textIndentModifier(0px, $text-indent)
}

.aeAddressWrapper {
  display: flex;
  align-items:center;
  font-family: 'Roboto Mono', monospace;
}
.name {
  @extend %default-font;
  @include textIndentModifier(0px, $text-indent);
  display: flex;
  align-items: center;
  letter-spacing: 1.7px;
  text-overflow: ellipsis;
  text-transform: uppercase;
}
.avatar {
  flex-shrink: 0;
  margin-right: 10px;
  height: 54px !important;
  width: 54px !important;
}
.chunked-address {
  @include textIndentModifier(-10px, $text-indent - 10px);
  display: flex;
  flex-wrap: wrap;
  margin-top: -9px;
  max-width: 320px;
}
.chunked-address .chunk {
  @extend %address-font;
  margin: 9px 0 0 10px;
  width: calc(100% * (1/3) - 10px - 1px);
  justify-content: space-between;
  text-align: left;
}
@include phone {
  .chunk {
    letter-spacing: 0;
  }
}
._chunk-half_true .chunk {
  width: calc(100% * (1/3));
}

