@import '../variables';

div.amount {
  width: 310px;
  border-radius: 10px;
  border: solid 2px $smoke;
  height: 70px;
  background-color: #fff;
  display: block;
  position: relative;
  &.full-width {
    width: 100%;
  }
  button {
    position: absolute;
    background: none;
    border: none;
    width: 62px;
    height: 70px;
    float: left;
    font-size: 40px;
    font-weight: 300;
    &.add {
      right: 0;
    }
    &.subtract {
      left: 0;
    }
  }
  div.value {
    line-height: 70px;
    float: left;
    width: calc(100% - 124px);
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    position: absolute;
    left: 62px;
    div.unit {
      font-size: 14px;
      display: inline;
    }
  }
}
