//------------------------------
// *****************************
// ae-list
// *****************************
//------------------------------

.ae-list {
  padding: 0;
  margin: 0;
}

.ae-list.primary {
  border-radius: 4px;
  background: $color-white;
  box-shadow: 0 0 8px $color-shadow-alpha-15;
  padding: rem(15px);
  overflow: hidden;

  > li:first-child {
    border-top: 0;
  }
  > li:last-child {
    border-bottom: 0;
  }
}
