.ae-list{
  margin: 0;
  padding: 8px 0;
  display: flex;
  flex-flow: column nowrap;
  list-style: none;

  &.normal {
    li{
      padding: 8px 0;
    }
  }
  &.tight {
    li{
      padding: 2px 0;
    }
  }
}
