.ae-divider {
  margin: 8px 0px;
  box-sizing: content-box;
  overflow: visible;
  display: block;
  height: 2px;
  opacity: 0.32;

  &.normal {
    background-color: #989898;
  }

  &.dramatic {
    background-color: #f03c6e;
  }

  &.exciting {
    background-color: #320a3c;
  }

  &.boring {
    background-color: #f0f0f0;
  }

}
