@import "../variables.scss";
.ae-notification {
  height: 65px;
  line-height: 25px;
  font-size: 18px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  z-index: 1;


  &._type{
    &_plain {
      background-color: transparent;
      color: $black;
    }
    &_boring {
      background-color: $silver;
      color: $black;
    }
    &_normal {
      background-color: $grey;
      color: $black;
    }
    &_exciting {
      background-color: $aubergine;
      color: $white;
    }
    &_dramatic {
      background-color: $maegenta;
      color: $white;
    }
  }

  content {
    flex-grow: 1;
    margin: 0 25px;
  }

  .ae-button {
    float: right;
    margin-right: 25px;
  }

  @media (max-width: $screen-phone) {
    margin-bottom: 20px;
  }

  @media (min-width: $screen-phone + 1) {
    margin-bottom: 30px;
  }

  @media (min-width: $container-width) {
    .ae-button {
      position: absolute;
      right: 0;
    }
  }
}
