//------------------------------
// *****************************
// Paths
// *****************************
//------------------------------

$path-fonts: "~@public/fonts/";
$path-images: "~@public/images/";
$path-icons: "~@public/icons/";
