//------------------------------
// *****************************
// Paths
// *****************************
//------------------------------

$path-images: "~public/images/";
$path-fonts: "~public/fonts/";
$path-icons: "~public/icons/";
