@import './variables.scss';
%input {
  padding: 12px;
  border-radius: 10px;
  font-size: 13px;
  line-height: 26px;
  border: solid 2px $boring;
  box-shadow: none;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  outline: none;


  ::placeholder {
    color: $grey;
  }
}
