@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Mono:500');

:root {
  --normal: #dcdcdc;
  --boring: #f5f5f5;
  --dark: #383838;
  --darker: #1e1e1e;
  --plain: #ffffff;
  --grey: #989898;
  --exciting: #320a3c;
  --darkest: #000000;
  --dramatic: #f03c6e;
}

@import "~normalize.css";
@import "./variables";

body, button, input, textarea {
  font-family: 'Roboto', sans-serif;
  color: $darker;
}

* {
  outline: none;
}

button {
  cursor: pointer;
}

input, input[type=text] {
  appearance: none;
}

textarea {
  resize: vertical;
}
