@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Mono:300,500');

:root {
  --silver: #dcdcdc;
  --smoke: #f5f5f5;
  --dark: #3c3c3c;
  --anthracite: #1e1e1e;
  --white: #ffffff;
  --apricot: #ff96a0;
  --grey: #989898;
  --aubergine: #320a3c;
  --black: #000000;
  --maegenta: #f03c6e;
  --plum: #c69cd0;
}

@import "~normalize.css";
@import "./variables";

body, button, input, textarea {
  font-family: 'Roboto', sans-serif;
  color: $anthracite;
}

* {
  outline: none;
}

button {
  cursor: pointer;
}

input, input[type=text] {
  appearance: none;
}

textarea {
  resize: vertical;
}

@import "../styles/index";
