$normal: #dcdcdc;
$boring: #f5f5f5;
$dark: #383838;
$darker: #1e1e1e;
$plain: #ffffff;
$grey: #989898;
$exciting: #320a3c;
$darkest: #000000;
$dramatic: #f7296e;

$container-width: 880px;
$screen-phone: 480px;
