$silver: #dcdcdc;
$smoke: #f5f5f5;
$dark: #383838;
$darker: #1e1e1e;
$darkest: #000000;
$anthracite: #1e1e1e;
$white: #ffffff;
$apricot: #ff96a0;
$grey: #989898;
$aubergine: #311b58;
$black: #000000;
$maegenta: #f03c6e;
$plum: #c69cd0;

$type-color-map: (
  'boring': $silver,
  'normal': $grey,
  'exciting': $aubergine,
  'dramatic': $maegenta,
  'dark': $dark,
  'darker': $darker,
  'darkest': $darkest
);

$container-width: 880px;
$screen-phone: 480px;

$base-font-size: 16px;
$base-line-height: 1.5rem;
$font-sans: "Inter UI", sans-serif;
$font-mono: "IBM Plex Mono", monospace;

$color-neutral-minimum: #001833;
$color-neutral-negative-3: #203040;
$color-neutral-negative-2: #4E5A66;
$color-neutral-negative-1: #76818C;
$color-neutral: #929CA6;
$color-neutral-positive-1: #D3DCE6;
$color-neutral-positive-2: #EDF3F7;
$color-neutral-positive-3: #F7FAFC;
$color-neutral-maximum: #FFFFFF;

$color-default-negative-3: #442873;
$color-default-negative-2: #513482;
$color-default-negative-1: #5F4191;
$color-default: #6948A1;
$color-default-positive-1: #8974B3;
$color-default-positive-2: #A18FBF;
$color-default-positive-3: #B2A3CC;

$color-emphasis-negative-3: #BD2A67;
$color-emphasis-negative-2: #D12869;
$color-emphasis-negative-1: #E72B6E;
$color-emphasis: #FF0D6A;
$color-emphasis-positive-1: #F279A8;
$color-emphasis-positive-2: #FA96B7;
$color-emphasis-positive-3: #FFBFD7;

$color-alternative-negative-3: #099C9D;
$color-alternative-negative-2: #05ADA8;
$color-alternative-negative-1: #02BDAA;
$color-alternative: #14CCB7;
$color-alternative-positive-1: #62D9CB;
$color-alternative-positive-2: #95E6DC;
$color-alternative-positive-3: #CEF2EE;

$color-error: #FF0D6A;
$color-focus: #B300FF;
$color-focus-alt: #00E8CC;
$color-shadow: #002157;

$color-black: #000000;
$color-white: #ffffff;
