//------------------------------
// *****************************
// ae-address
// @docs https://davidwalsh.name/css-flip
// *****************************
//------------------------------

.ae-flip-touch-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.ae-flip-container {
  perspective: rem(1800px);
  height: 100%;
  width: 100%;
}

// TODO: Flip 180 or -180 depending on swipe direction
.ae-flip-container.left .ae-flip-flipper {
  transform: rotateY(-180deg);
}

.ae-flip-container.right .ae-flip-flipper {
  transform: rotateY(180deg);
}

.ae-flip-container,
.ae-flip-front,
.ae-flip-back {
  min-height: 192px;
  width: 100%;
  height: 100%;
}

.ae-flip-flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  height: calc(100% - 20px);
}

.ae-flip-front, .ae-flip-back {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.ae-flip-front {
  z-index: 2;
  transform: rotateY(0deg);
}

.ae-flip-back {
  transform: rotateY(180deg);
}

.ae-flip-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  padding: 0;
  margin: 0;

  > li {
    @include size(10px);

    list-style: none;
    border-radius: 50%;
    background: $color-neutral-neutral;
    margin: 0 rem(2px);
    transition: all $base-transition-time;
    cursor: pointer;

    &.active {
      background: $color-emphasis-emphasis;
    }
  }
}
