//------------------------------
// *****************************
// ae-avatar
// *****************************
//------------------------------

.ae-avatar {
  @include size(32px);

  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 33, 87, 0.15);
}
