//------------------------------
// *****************************
// ae-avatar
// *****************************
//------------------------------

.ae-avatar {
  @include size(32px);

  position: relative;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0 0 8px $color-shadow-alpha-15;
  border-radius: 50%;

  > img {
    @include center-both;

    max-width: 100%;
  }
}

.ae-avatar.small {
  @include size(20px);
}
