@import "../variables";

.ae-switch {
  display: flex;
  justify-content: center;

  $padding-horizontal: 14px;

  input {
    display: none;

    &:checked + label {
      color: $dramatic;

      &:after {
        content: "";
        display: block;
        border-bottom: 4px solid $dramatic;
        position: absolute;
        bottom: -3px;
        width: calc(100% - #{$padding-horizontal} * 2);
      }
    }
  }

  label {
    position: relative;
    display: inline-block;
    color: $grey;
    white-space: nowrap;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-shadow: none;
    padding: 6px $padding-horizontal;
    border-bottom: 2px solid #f0f0f0;
    letter-spacing: 0.5px;

    &:hover {
      cursor: pointer;
    }
  }
}
