@import "../variables";
@import "./../../styles/mixins";

.ae-banner {
  width: 355px;
  background-image: linear-gradient(to bottom, $white, #f1f4f7);
  border-radius: 10px;
  position: fixed;
  top: 40px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  z-index: 19000;

  @include desktop {
    width: $container-width;
  }

  > .inner {
    padding: 17px 22px;
    border-radius: 10px;
    background-color: $white;
    box-shadow: 0 4px 8px 0 rgba(60, 60, 60, 0.1);

    .right {
      float: right;
    }
  }
}
