.app-icon {
  background: #FFFFFF;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.20);
  border-radius: 12px;
  padding:7px;
  width:57px;
  height:57px;
}
.icon-image {
  background-size:contain;
  background-position:center;
  background-repeat:no-repeat;
  width:100%;
  height:100%;
}
