//------------------------------
// *****************************
// ae-icon
// *****************************
//------------------------------

.ae-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &.neutral {
    color: $color-neutral-minimum;
  }
  &.default {
    color: $color-default;
  }
  &.alternative {
    color: $color-alternative;
  }
  &.emphasis {
    color: $color-emphasis;
  }
}

.ae-icon:before {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ae-icon.round {
  @include size(32px);

  color: $color-white;
  background: $color-neutral;
  border-radius: 50%;
  box-shadow: 0 0 16px $color-shadow-alpha-15;

  &.neutral {
    background: $color-neutral-maximum;
    color: $color-neutral-minimum;
  }
  &.default {
    background: $color-default;
    color: $color-white;
  }
  &.alternative {
    background: $color-alternative;
    color: $color-white;
  }
  &.emphasis {
    background: $color-emphasis;
    color: $color-white;
  }
}
