//------------------------------
// *****************************
// Typography
// *****************************
//------------------------------

h1, h2, h3, h4, h5, h6, p {
  line-height: $base-line-height;
  color: $color-neutral-neutral;
  font-weight: normal;
}

p {
  line-height: $base-line-height;
  font-size: $base-font-size;
}

a {
  transition: all $base-transition-time;
  color: $color-neutral-neutral;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $color-neutral-positive-1;
  }
}
